.barra-navegacion {
    background: #a5b6ff;
    padding: 0 40px;
    height: 60px;
    display: flex;
    align-items: center;
  }
  
  .logo-navegacion {
    font-weight: bold;
    font-size: 25px;
    color: #000000;
    margin-right: 40px;
  }
  
  .enlace-navegacion {
    color: #464545;
    text-decoration: none;
    margin-right: 25px;
  }
  
  .enlace-navegacion:hover, .boton-desplegable:hover {
    color: #4e4e4e;
  }
  
  .desplegable-productos {
    position: relative;
    margin-right: 25px;
  }
  
  .boton-desplegable {
    color: #4b4b4b;
    cursor: pointer;
  }
  
  .menu-desplegable {
    display: block;
    position: absolute;
    top: 110%;
    background-color: #414141;
    border-radius: 8px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.13);
    width: 170px;
    z-index: 10;
  }
  
  .item-desplegable {
    display: block;
    padding: 12px 22px;
    color: #ffffff;
    text-decoration: none;
  }
  
  .item-desplegable:hover {
    background: #00bcd4;
    color: #fff;
  }