body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #a2d7e4;
  color: #070707;
  height: 100vh;
}

h1, h2, h3 {
  color: #3aadfa;
}

a {
  color: #95e1e4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.layout-margen{
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}
